<html>
    <head>
        <!-- bootstrap -->
        <link href="static/css/bootstrap.min.css" rel="stylesheet">
        <link href="static/css/bootstrap-reboot.min.css" rel="stylesheet">
        <link href="static/css/bootstrap-grid.min.css" rel="stylesheet">
        <script src="static/js/jquery.min.js"></script>
        <script src="static/js/popper.min.js"></script>
        <script src="static/js/popper-utils.min.js"></script>        
        <script src="static/js/bootstrap.min.js"></script>
        <script src="static/js/bootstrap.bundle.min.js"></script>
        <!-- vue -->
        <script src="static/js/vue.min.js"></script>
        <title>My First Page</title>
    </head>
    <body>
        <nav class="navbar navbar-inverse">
            <ul class="navbar-header">
                <a class="navbar-brand" href="#">My First Page</a>
            </ul>
        </nav>
        <div class="container container-center jumbotron">
            <div class="col-sm-4 col-sm-offset-4">
                <div id="app" class="form-group">
                    <p class="form-control" v-text="aaa"></p>
                    <span>Input here</span>
                    <input class="form-control" v-model="aaa">
                </div>
            </div>
        </div>
        <div>
            <h4>提示工具（Tooltip）插件 - 锚</h4>
            这是一个 <a href="#" class="tooltip-test" data-toggle="tooltip"
                    title="默认的 Tooltip">
                默认的 Tooltip
            </a>.
            这是一个 <a href="#" class="tooltip-test" data-toggle="tooltip"
                    data-placement="left" title="左侧的 Tooltip">
                左侧的 Tooltip
            </a>.
            这是一个 <a href="#" data-toggle="tooltip" data-placement="top"
                    title="顶部的 Tooltip">
                顶部的 Tooltip
            </a>.
            这是一个 <a href="#" data-toggle="tooltip" data-placement="bottom"
                    title="底部的 Tooltip">
                底部的 Tooltip
            </a>.
            这是一个 <a href="#" data-toggle="tooltip" data-placement="right"
                    title="右侧的 Tooltip">
                右侧的 Tooltip
            </a>
            
            <br>
            
            <h4>提示工具（Tooltip）插件 - 按钮</h4>
            <button type="button" class="btn btn-default" data-toggle="tooltip"
                    title="默认的 Tooltip">
                默认的 Tooltip
            </button>
            <button type="button" class="btn btn-default" data-toggle="tooltip"
                    data-placement="left" title="左侧的 Tooltip">
                左侧的 Tooltip
            </button>
            <button type="button" class="btn btn-default" data-toggle="tooltip"
                    data-placement="top" title="顶部的 Tooltip">
                顶部的 Tooltip
            </button>
            <button type="button" class="btn btn-default" data-toggle="tooltip"
                    data-placement="bottom" title="底部的 Tooltip">
                底部的 Tooltip
            </button>
            <button type="button" class="btn btn-default" data-toggle="tooltip"
                    data-placement="right" title="右侧的 Tooltip">
                右侧的 Tooltip
            </button>
            <script>
                $(function () { $("[data-toggle='tooltip']").tooltip(); });
            </script>
        </div>
        <script type="text/javascript">
           var vm = new Vue({
               el: '#app',
               data: {
                   aaa: '',
               }
           }) 
           $(function () { $("[data-toggle='tooltip']").tooltip(); });
        </script>
    </body>
</html>